## Web Scraping Top 250 Movies from IMDb

#### Importing necessary libraries

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

#### Load the webpage
The website that is used is "https://www.imdb.com/chart/top/".

In [ ]:
r = requests.get("https://www.imdb.com/chart/top/")
soup = bs(r.content)
contents = soup.prettify()
print(contents)

#### Creating empty lists to store the information.

In [35]:
movie_title = []
movie_year = []
movie_rating = []

#### Extract HTML tag contents

In [7]:
imdb_table = soup.find(class_ = "chart full-width")

In [11]:
movies_title = imdb_table.find_all(class_ = "titleColumn")
movies_year = imdb_table.find_all(class_ = "secondaryInfo")
movies_rating = imdb_table.find_all(class_ = "ratingColumn imdbRating")

#### Extracting the required imformation

In [20]:
movies_title[0]

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [ ]:
for row in movies_title:
  title = row.a.text
  movie_title.append(title)
movie_title

In [21]:
movies_year[0]

In [ ]:
for row in movies_year:
  year = row.text
  movie_year.append(int(year.strip('()')))
movie_year

In [ ]:
movie_year

In [32]:
movies_rating[0]

<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,753,457 user ratings">9.2</strong>
</td>

In [ ]:
for row in movies_rating:
  rating = row.text.strip()
  movie_rating.append(float(rating))
movie_rating

#### Creating Dataframe

In [39]:
movies_info = pd.DataFrame({'Title': movie_title, 'Year': movie_year, 'Rating': movie_rating})
movies_info.head()

                      Title  Year  Rating
0  The Shawshank Redemption  1994     9.2
1             The Godfather  1972     9.2
2           The Dark Knight  2008     9.0
3     The Godfather Part II  1974     9.0
4              12 Angry Men  1957     9.0